<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      {{link-to 'Epic Ember' 'application' class="navbar-brand"}}
    </div>

    <ul class="nav navbar-nav">
      <li>
        {{link-to 'Users' 'users'}}
      </li>
      <li>
        {{link-to 'Add User' 'user'}}
      </li>
    </ul>
  </div>
</nav>

{{outlet}}


