<div class="container">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>username</th>
        <th>first</th>
        <th>last</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.users as |user|}}
      <tr>
        <td>{{user.username}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
